.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
/* sheared style */
.btn-praimary{
    background-color: #FD6E0A;
    color: #fff;
    padding: 10px 20px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
}
/* sheared style end */
header{
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left,bottom right;
    height: 100vh;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 120px;
}
nav h2{
    font-size: 26px;
    font-weight: bolder;
}
span{
    color: #FD6E0A;
}
nav ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 50px;
    font-weight: bold;
    font-size: 16px;
}
nav ul li a{
    text-decoration: none;
    color: black;
}

.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px 0 120px;
}
.banner-content{
    width: 520px;
}
.banner-content h4{
    font-size: 23px;
    color: #474747;
}
.banner-content h2{
    font-size: 40px;
}
.banner-content p{
    margin: 10px 0 20px 0;
}
.banner-img img{
    width: 475px;
}
/* about section */
.about-sec{
    margin: 90px 0;
}
.about-content{
    max-width: 1030px;
    margin: 0 auto;
    text-align: center;
    background-color: #f0e2d8;
    border-radius: 10px;
    padding: 70px 120px;
}
.about-items-parent{
    display: flex;
    justify-content: space-between;
}
.about-content h2{
    font-size: 30px;
}
.about-content p{
    font-size: 14px;
    line-height: 26px;
    font-weight: 600;
    color: #757575;
    margin: 20px 0;
}
.about-items h4{
    font-weight: 400;
}
.about-items h5{
    font-size: 15px;
}
/* skill */
.skill-title{
    text-align: center;
    max-width: 900px;
    margin: 0 auto;
}
.skill-title h2{
    font-size: 35px;
}
.skill-title p{
    font-size: 16px;
    line-height: 26px;
    font-weight: 600;
    color: #757575;
    margin: 10px 0;
}
.skill-content{
    display: flex;
    justify-content: space-between;
    gap: 80px;
    max-width: 1030px;
    margin: 0 auto;
}
.skill-items h3{
    margin: 8px 0;
}
.skill-items p{
    font-size: 14px;
    color: #757575;
    line-height: 22px;
}